################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/todo/v15
/packages
/Repository/bin/Debug
/Repository/obj/Debug
/Services/bin/Debug
/Services/obj/Debug
/src/bin
/src/obj/Debug
